
.info-window {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}

.payment-window {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.info-content {
background-color: #ffffff;
padding: 20px;
border-radius: 10px;
text-align: center;
border: #e30a17;
border-style: outset;
border-width: 2px;
width: 100%;
height: 100%;
overflow: auto;
}

.payment-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: #e30a17;
  border-style: outset;
  border-width: 2px;
  width: 100%;
  height: 100%;
  overflow: auto;
  }

.info-content p {
margin-bottom: 10px;
}
.payment-content p {
  margin-bottom: 10px;
  }

/* Styling for the confirm button */
button {
background-color: #e30a17;
color: #ffffff;
border: none;
padding: 10px 20px;
border-radius: 5px;
font-weight: bold;
cursor: pointer;
margin: 5px;
}

  
/* Customize the input field */


/* Button hover styles */


.internal_id, .ama_id{
  font-size: larger;
  font-weight: bold;
  color: #e30a17;
  font-style: blink;
}

.info-content {
  display: none;
}

.info-content h2 {
  color: #e30a17;
  font-size: 24px;
  margin-bottom: 10px;
}

.info-content h3 {
  color: #e30a17;
  font-size: 20px;
  margin-bottom: 10px;
}

.info-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.info-content em {
  font-style: italic;
  font-size: 14px;
  color: #555;
}

.info-content button {
  background-color: #e30a17;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

.payment-content {
  display: none;
}

.payment-content h2 {
  color: #e30a17;
  font-size: 24px;
  margin-bottom: 10px;
}

.payment-content h3 {
  color: #e30a17;
  font-size: 20px;
  margin-bottom: 10px;
}

.container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

table td:first-child {
  font-weight: bold;
}

.payment-content button {
  background-color: #e30a17;
  color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
}

/* Loading section */
.loading-overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #cccccc;
  padding: 20px;
  border-radius: 5px;
  
}

.loading-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
  color: #e30a17;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #e30a17; /* Updated animation color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* End of Loading section */

.ama_form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
  align-content: center;
}

/* Customize the label */
.ama_label {
  color: #e30a17;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.ama_input {
  color: #e30a17;
  border-color: #e30a17;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.ama_button {
  background-color: #e30a17;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.ama_button:hover {
  background-color: #ffffff;
  color: #e30a17;
  }

.ama-grid-item {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border: 1px solid #e30a17;
  border-radius: 10px;
}

.ama_prop, .ama_empty_message {
  font-weight: bold;
  color: #e30a17;
  font-size: medium;
}

.ama_text_value{
  margin-left: 20px;
  font-size: smaller;
}

.ama_div_button, .ama_empty_message, .ama_center_div{
  display: flex;
  justify-content: center;
  align-items: center;
}
